.footer{
  color:#0E3043;
}

div.title{
  padding-top: 7px;
}

.esriMobileNavigationBar{
  background-image:none;
  background-color:#444;
}

.esriMobileNavigationBar .esriMobileNavigationItem.right{
  display:none;
}

.esriMobileInfoView{
  width:90%;
  padding:5%;
}

.esriViewPopup .header{
  font-size: 18px;
  padding-bottom: 10px;
}

.esriViewPopup .hzLine{
  padding-bottom: 10px;
}

.esriMobileNavigationBar .esriMobileNavigationItem.left{
  right:0;
  left:auto;
}

.esriMobileInfoView .esriMobileInfoViewItem .gallery{
  margin-left: 0;
}